td {
  border: 1px dotted blue;
}

svg {
  width: 700px;
  height: 500px;
  border: 1px dotted grey;
}

/* ensures selections are highlighted */
#edges {
  opacity: 0.3;
}
.node:not(.selected) {
  opacity: 0.3;
}

text {
  font-size: 10px;
}

circle {
  stroke: white;
  r: 7;
  stroke-width: 1px;
}

#node-info {
  float: right;
  font-family: monospace;
  border: 1px dotted grey;
}

.highlighted circle {
  transform: scale(2);
}
.highlighted text {
  transform-origin: 4% -6%;
  transform: scale(2);
}

.person {
  fill: #000;
}

.event {
  fill: grey;
}

line {
  stroke: #999;
}
