td {
  border: 1px dotted blue;
}

svg {
  border: 1px dotted grey;
}

text {
  font-size: 10px;
}

circle {
  r: 7;
}

h3 {
  font-family: monospace;
  border: 1px dotted grey;
}

.selected circle {
  stroke: red;
  stroke-width: 2px;
}

.person {
  fill: #000;
}

.event {
  fill: grey;
}

line {
  stroke: #999;
}
